<template>
  <div>
    <h2>About</h2>
    <p>Open Dispatch is not a startup, nor owned or run by a company, it is
    simply a Free Software project. Individuals, groups, or companies can run
    an instance of Open Dispatch and instances can be shared by many
    different types of users, traffic and server capacity permitting.
    The reference implementation of Open Dispatch run by <a
                                                             href="https://eotl.supply">EOTL</a>, could be described as <a
        href="https://eotl.supply/updates/towards-collective-infrastructure">
        collective infrastructure</a>.</p>
    <div class="row">
      <div class="col-6">
        <h4>Fees</h4>
        <p>The Open Dispatch app was designed in a way to not take fees for
        coordination of courier work. Running a webserver with a few thousand
        requests per hour is extremely cheap.
        </p>
        <div class="bg-light text-center p-5 mb-4">
            <h1 class="display-1">Zer0</h1>
            <p class="mb-0 text-monospace">
              Courier Fee: Varies
            </p>
            <p class="mb-0 text-monospace">
              Platform Fee: <u>{{currency}}0.00</u>
            </p>
        </div>
      </div>
      <div class="col-6">
        <h4>User Accounts</h4>
        <p>Unlike traditional webapps where the website issues a user an account
        which they then access with an email or phone # and password, Open Dispatch
        does not require such information.</p>

        <p><img src="crypto-key-identity.svg"></p>
        <p>Instead with Open Dispatch, users own their accounts by generating a
        cryptographic keypair on their device and then a server chooses to trust
        that keypair or not.</p>
        <p>Our approach allows users to use their account on multiple instances
        of Open Dispatch or other platforms which implement the <a
            href="https://codeberg.org/eotl/simple-signed-records/">Simple Signed
        Records</a> protocol.</p>

      </div>
    </div>
    <h4>The Means Of...</h4>
    <div class="row">
        <div class="col-6">
        <p>Last century's revolutionaries proclaimed <em>"workers of the
        world, unite!"</em> As well as that they must <em>"seize control of the
        means of production"</em>. However, the means of production are only
        part of how capital exploits workers and the general populus. Other vectors of
        exploitation are information silos, customer lock-in, and economies of
        scale- all things rife in the information technology sector.
        </p>
        </div>
        <div class="col-6">
        <p>With this in mind, members of the EOTL collective set out to
        build the means of coordination while applying the ethos of
        the Free Software and open-source movement to create tools towards a
        more open, transparent, and honest way for humans to organize their
        labor in non-hierachical ways.</p>
        </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
  name: 'About',
  data: function () {
    return {}
  },
  computed: {
    ...mapState(['config', 'daemon', 'key', 'identity']),
  },
}
</script>
