<template>
    <div>
        <h2 class="mb-3">Home</h2>
        <hr class="thick mb-5">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-9">
                <shipmentsList />
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <h6>Actions</h6>
                <div class="list-group mb-5">
                    <router-link
                      :to="{ name: 'new' }"
                      class="list-group-item list-group-item-action">
                      New Shipment
                    </router-link>
                    <router-link
                      :to="{ name: 'shipments' }"
                      class="list-group-item list-group-item-action">
                      All Shipments
                    </router-link>
                </div>
                <h6>Admin</h6>
                <div class="list-group mb-5">
                    <router-link
                      :to="{ name: 'users' }"
                      class="list-group-item list-group-item-action">
                      Users
                    </router-link>
                    <router-link
                      :to="{ name: 'groups' }"
                      class="list-group-item list-group-item-action">
                      Groups
                    </router-link>
                    <router-link
                      :to="{ name: 'invites' }"
                      class="list-group-item list-group-item-action">
                      Invites
                    </router-link>
                </div>
            </div>
        </div>
        <modalAssignCode />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import ShipmentsList from "@/components/ShipmentsList";
import ModalAssignCode from '@/components/ModalAssignCode';

export default {
    name: 'Home',
    components: { ShipmentsList, ModalAssignCode },
    data: function() {
        return { }
    },
    computed: mapState(['config', 'daemon', 'accountState', 'account']),
    created() {},
    methods: {},
};
</script>
