<template>
<div>
    <div v-if="daemon.status == 'unconfigured'" class="row">
        <div class="col-md-6">
            <h2>Configure</h2>
            <p>The Open Dispatch Server this instance is connected to needs
            to be setup. By creating an account, you will become the
            <strong>admin</strong> of this server.</p>
            <div class="form-group">
                <label>Your Name</label>
                <input
                    type="text"
                    v-model="account.name"
                    class="form-control"
                    placeholder=""
                />
            </div>
            <div class="form-group">
                <button
                    @click="btnConfigureServer"
                    class="btn btn-primary btn-block">
                    Setup Server
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Server Info</h2>
            <daemon></daemon>
        </div>
    </div>
    <div v-else>
        <div v-if="account.status == 'active'">
            <h3>Redirecting...</h3>
        </div>
        <div v-else-if="account.status == 'new'" class="mt-5 row">
            <div class="col-md-6 mb-5">
                <h2>{{ $t('start.welcome') }}</h2>
                <p>{{ $t('start.welcomeText') }}</p>
                <div class="bg-light mb-5">
                    <img class="img-fluid" src="/images/story-open-dispatch.svg" />
                </div>
                <h4>This Is A Tool</h4>
                <p>Open Dispatch is not a business or startup, it is an open
                source tool which does matchingmaking to connect people who have
                items to transport with independent couriers.
                Instances of Open Dispatch can be run by communities,
                collectives, individuals, or companies.
                </p>
                <router-link
                  :to="{ path: 'about' }"
                  class="btn btn-primary">
                  Learn More
                </router-link>
            </div>
            <div class="col-md-5 offset-md-1 mb-5">
                <h2>Get Started</h2>
                <accountNew
                    v-bind:account="account"
                    v-bind:config="config" />
                <div class="form-group">
                    <button
                        @click="btnShowRestore"
                        class="btn btn-link btn-block">
                        Restore an account
                    </button>
                </div>
            </div>
        </div>
        <div v-else-if="account.status == 'restore'" class="">
            <h2>{{ $t('start.myAccount') }}</h2>
            <p>{{ $t('start.haveKey') }}</p>
            <accountRestore
                v-bind:account="account"
                v-bind:config="config" />
        </div>
        <div v-else>
            <h4>Oops</h4>
            <p>Something went wrong with restoring your account</p>
        </div>
    </div>
</div>
</template>

<script>
import { mapState } from 'vuex';
import { ssr, ssrIdentity } from '@eotl/simple-signed-records';

import { AccountNew } from "@eotl/core/components";
import { AccountRestore } from "@eotl/core/components";
import { Daemon } from "@eotl/core/components";

import { fetcherSsr } from '@eotl/core/composables';

export default {
    name: 'Landing',
    components: {
        Daemon,
        AccountNew,
        AccountRestore
    },
    data: function () {
        return {
            restoreSeed: '',
        };
    },
    computed: mapState(['config', 'daemon', 'account']),
    mounted() {
        if (this.$store.state.account.status == 'active') {
            this.$router.push({ path: 'home' });
        }
    },
    methods: {
        btnConfigureServer() {
          // Hack to be deleted once issue solved
          // https://codeberg.org/eotl/open-dispatch-daemon/issues/42
          const record = {
              dest_address: "Anderer Weg 456",
              dest_address2: "Etage 2",
              dest_city: "Berlin",
              dest_contact: "491577123456",
              dest_method: "sms",
              dest_name: "Bart",
              dest_postal: "10178",
              dest_state: "DE",
              pickup_address: "Einige Strasse 123",
              pickup_address2: "",
              pickup_city: "Berlin",
              pickup_contact: "test@eotl.supply",
              pickup_method: "email",
              pickup_name: "Nico",
              pickup_postal: "10178",
              pickup_state: "DE",
              size: "lg",
              speed: "immediate",
              weight: "heavy"
          }

          const router = this.$router;
          const store = this.$store;
          fetcherSsr.ssrPost('shipments', record).then((data) => {
              let status = 'active'
              let keys = {
                  secretKey: store.state.identity.secretKey,
                  publicKey: store.state.identity.publicKey
              }

              let cert = ssrIdentity.generateCert(keys);
              store.dispatch('restoreAccount', {
                  status,
                  cert
              });

              router.push('/shipment/' + data.id)
          });
        },
        btnShowRestore() {
            this.$store.state.account.status = 'restore'
        }
    },
};
</script>
