<template>
  <div>
      <h2 class="mb-3">Shipments</h2>
      <hr class="thick mb-5">
      <shipmentsList />
  </div>
</template>
<script>
import ShipmentsList from "@/components/ShipmentsList";

export default {
    components: { ShipmentsList },
    methods: {}
}
</script>
