<template>
  <div>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h1>Shipment</h1>
      </div>
      <div class="col-md-6 col-lg-6 text-right">
        <router-link
            :to="{ name: 'new' }"
            class="btn btn-primary">
          Create New Shipment
        </router-link>
      </div>
    </div>
    <div v-if="!loading">
      <shipmentItem v-bind:item="item" />
      <div class="row mb-5">
        <div class="col-md-6 col-lg-6">
          <small class="text-monospace">From</small>
          <shipmentLocation v-bind:location="pickup" />
        </div>
        <div class="col-md-6 col-lg-6">
          <small class="text-monospace">To</small>
          <shipmentLocation v-bind:location="destination" />
        </div>
      </div>
      <div class="mb-5">
        <h4>Delivery Status</h4>
        <hr>
        <div v-if="updates.length > 0">
          <ul class="list-unstyled">
              <li v-for="(update, index) in updates" v-bind:key="index">
                  <shipmentUpdate v-bind:update="update" v-bind:id="index" />
              </li>
          </ul>
        </div>
        <div v-else>
          <div class="alert alert-info">
            <strong>Finding Carrier</strong>
            <p class="mb-0">This will update and you will be contacted when a
            carrier accepts your shipment</p>
          </div>

        </div>
      </div>
    </div>
    <div v-else>
      <p>Loading shipment data...</p>
    </div>
  </div>
</template>
<script>
import _ from 'lodash';
import { mapState } from 'vuex';
import ShipmentItem from "@/components/ShipmentItem";
import ShipmentLocation from "@/components/ShipmentLocation";
import ShipmentUpdate from "@/components/ShipmentUpdate";
import { fetcherSsr } from '@eotl/core/composables';

export default {
  components: {
    ShipmentItem,
    ShipmentLocation,
    ShipmentUpdate
  },
  data() {
    return {
      loading: true,
      item: {
        id: this.$route.params.id
      },
      destination: {},
      pickup: {},
      updates: {},
      roles: []
    }
  },
  computed: mapState(['config', 'accountCert', 'identity']),
  created() {
    this.getShipment();
  },
  methods: {
    getShipment() {
        let vm = this
        fetcherSsr.ssrGet('shipments/' + this.item.id).then((data) => {
            vm.item.size = data.size
            vm.item.weight= data.weight
            vm.item.speed = data.speed
            vm.item.timestamp = data.timestamp
            vm.item.roles = data.roles

            const pickup = _.pickBy(data, (value, key) => _.includes(key, 'pickup_'));
            Object.keys(pickup)
              .filter(key => key.startsWith(`pickup_`))
              .forEach(key => {
                 pickup[key.replace(`pickup_`, ``)] = pickup[key];
                 delete pickup[key];
              })
            vm.pickup = pickup;

            const destination = _.pickBy(data, (value, key) => _.includes(key, 'dest_'));
            Object.keys(destination)
              .filter(key => key.startsWith(`dest_`))
              .forEach(key => {
                 destination[key.replace(`dest_`, ``)] = destination[key];
                 delete destination[key];
              })
            vm.destination = destination;
            vm.updates = data.updates;
            vm.loading = false

        })
    },
  },
}
</script>
