<template>
  <div>
    <h2>Support</h2>
    <p>Page about getting support for shipments</p>
    <hr class="thick">
    <h2>Server</h2>
    <daemon></daemon>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import { Daemon } from "@eotl/core/components";

export default {
    components: { Daemon },
    data: function () {
        return {}
    },
    computed: {
        ...mapState(['config', 'daemon', 'key', 'identity']),
    },
    methods: {},
}
</script>
