<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Open Dispatch</title>
  <link rel="icon" href="images/open-dispatch-32x32.png" sizes="32x32">
  <link rel="icon" href="images/open-dispatch-57x57.png" sizes="57x57">
  <link rel="icon" href="images/open-dispatch-76x76.png" sizes="76x76">
  <link rel="icon" href="images/open-dispatch-96x96.png" sizes="96x96">
  <link rel="icon" href="images/open-dispatch-120x120.png" sizes="120x120">
  <link rel="icon" href="images/open-dispatch-128x128.png" sizes="128x128">
  <link rel="icon" href="images/open-dispatch-144x144.png" sizes="144x144">
  <link rel="icon" href="images/open-dispatch-152x152.png" sizes="152x152">
  <link rel="icon" href="images/open-dispatch-167x167.png" sizes="167x167">
  <link rel="icon" href="images/open-dispatch-180x180.png" sizes="180x180">
  <link rel="apple-touch-icon-precomposed" href="images/open-dispatch-180x180.png">
  <link rel="icon" href="images/open-dispatch-192x192.png" sizes="192x192">
  <link rel="icon" href="images/open-dispatch-195x195.png" sizes="195x195">
  <link rel="icon" href="images/open-dispatch-196x196.png" sizes="196x196">
  <link rel="icon" href="images/open-dispatch-228x228.png" sizes="228x228">
  <link rel="icon" href="images/open-dispatch-270x270.png" sizes="270x270">
  <meta name="msapplication-TileImage" content="images/open-dispatch-270x270.png">

  <link rel="stylesheet" href="/css/eotl.css">
</head>
<body class="light-mode">
    <noscript>
      <strong>
        We're sorry but Open Dispatch doesn't work without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
      your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="container">
      <div id="open-dispatch"></div>
    </div>

    <script type="module" src="/src/main.js"></script>
</body>
</html>
