<template>
    <div class="modal fade" id="modalAssignGroupMember" tabindex="-1"
        data-backdrop="static" data-keyboard="false"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
                Assign Member
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <label>Group ID</label>
              <input v-model="group_id" type="text" class="form-control">
              <label>Member Identity</label>
              <input v-model="member.identity_key.identity" type="text" class="form-control">
              <label>Role</label>
              <select v-model="member.role" class="form-control">
                <option value="member">Member</option>
                <option value="organizer">Organizer</option>
              </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
            </button>
            <button @click="btnAssignGroupMember" type="button" class="btn btn-primary">
                Assign Now
            </button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import $ from 'jquery';
import { mapState } from 'vuex';
import { fetcherSsr } from '@eotl/core/composables';

export default {
  name: 'ModalAssignGroupMember',
  props: ['group_id', 'member'],
  data: function () {
    return {};
  },
  computed: mapState(['config']),
  methods: {
    btnAssignGroupMember() {
        let endpoint = 'groups/' + this.group_id + '/members'
        fetcherSsr.ssrPost(endpoint, this.member).then((data) => {
            console.log(data);
            $('#modalAssignGroupMemember').modal('hide')
        })
    }
  }
};
</script>
