<template>
    <div>
        <div class="row mb-3">
            <div class="col-8">
                <div v-if="update.update.roles.delivery.length > 0">
                    <small class="text-monospace">Delivery</small><br>
                    {{ update.update.roles.delivery[0] }}
                </div>
                <div v-if="update.update.roles.supplier.length > 0">
                    <small class="text-monospace">Supplier</small><br>
                    {{ update.update.roles.supplier[0] }}
                </div>
            </div>
            <div class="col-4 text-right">
                <small class="text-monospace">
                    {{ update.timestamp }}
                </small>
            </div>
        </div>
        <p>{{ update.note }}</p>
        <hr>
    </div>
</template>

<script>
export default {
  props: ['id', 'update'],
  data() {
    return {
    };
  },
  created() {},
  computed: {
  },
  methods: {},
};
</script>
