<template>
  <div>
    <div class="row mb-5">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <div class="bg-light p-4 mb-4">
          <img class="img-fluid" v-bind:src="'/images/box-' + item.size + '.svg'" />
          <div class="text-center">
            <small class="text-uppercase text-monospace">
                {{ showSize }}
            </small><br>
            <small class="text-uppercase text-monospace">
                {{ showWeight }}
            </small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
          <router-link :to="{ path: '/shipment/' + item.id }">
              <h4 v-if="item.assignment && item.assignment.short_code">
                  Order: {{ item.assignment.short_code }}
              </h4>
              <h4 v-else>New Order</h4>
          </router-link>
          <div class="d-flex mb-4">
              <div class="flex-fill">
                <small>Fee</small>
                <div class="text-monospace">
                    {{ showFee }}
                </div>
              </div>
              <div class="flex-fill">
                <small>Deliver</small>
                <div class="text-monospace">
                    {{ showSpeed }}
                </div>
              </div>
              <div class="flex-fill">
                <small>Transport</small>
                <div class="d-flex flex-row">
                    <div class="flex-fill border-dark">
                        <div class="badge badge-dark text-monospace">
                            {{ zonePickup }}
                        </div>
                        <div class="badge badge-primary text-monospace">to</div>
                        <div class="badge badge-dark text-monospace">
                            {{ zoneDestination }}
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="btn-group mb-3" role="group" aria-label="Shipment Actions">
              <button class="btn btn-sm btn-primary mr-2"
                  @click="btnShipmentClaimModal"
                  data-toggle="modal" data-target="#staticBackdrop">
                Claim
              </button>
              <button class="btn btn-sm btn-primary mr-2"
                  @click="btnShipmentAssignModal"
                  data-toggle="modal" data-target="#staticBackdrop">
                Assign
              </button>
              <button class="btn btn-sm btn-primary mr-2"
                  v-if="!item.assignment || !item.assignment.short_code"
                  data-toggle="modal" data-target="#modalAssignCode"
                  @click="btnShipmentAssignCode(item.id)">
                Assign Code
              </button>
              <router-link
                v-if="routeName != 'shipment'"
                :to="{ path: 'shipment/' + item.id }"
                class="btn btn-sm btn-primary">
                Details
              </router-link>
           </div>
           <br>
           item.identity: {{ item.identity }}<br>
           identity.publicKey: {{ identity.publickKey }}
           <div v-if="item.roles">
               <div v-if="item.roles.delivery.length > 0">
                  <small class="text-monospace">
                    Delivery
                  </small>
                  <ul class="list-unstyled">
                      <li v-for="(deliverer, index) in item.roles.delivery" v-bind:key="index">
                        {{ deliverer }}
                      </li>
                  </ul>
               </div>
               <div v-if="item.roles.supplier.length > 0">
                  <small class="text-monospace">
                    Suppliers
                  </small>
                  <ul class="list-unstyled">
                      <li v-for="(supplier, index) in item.roles.supplier" v-bind:key="index">
                        {{ supplier }}
                      </li>
                  </ul>
               </div>
           </div>
      </div>
    </div>

    <!-- Modal: Assign Member -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
                Assign Member
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label>Role</label>
                  <select v-model="assignment_role" class="form-control">
                    <option value="delivery">Deliverer</option>
                    <option value="supplier">Supplier</option>
                  </select>
              </div>
              <div class="form-group">
                  <label>Assignment Identity</label>
                  <input v-model="assignment_identity" type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label>Note</label>
                  <textarea v-model="assignment_note" type="text" class="form-control">
                  </textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button @click="btnShipmentAssignCancel" type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
            </button>
            <button @click="btnShipmentAssign" type="button" class="btn btn-primary">
                Assign Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import { Currency } from '@eotl/core/enums';
import { Weights } from '@eotl/core/enums';
import { cargoUtils, fetcherSsr } from '@eotl/core/composables';

export default {
  props: ['item'],
  data() {
    return {
        routeName: this.$route.name,
        zonesParent: this.$store.state.config.zones_parent,
        zones: this.$store.state.config.zones,
        assignment_note: '',
        assignment_identity: '',
        assignment_role: 'delivery'
      }
  },
  created() {},
  computed: {
    ...mapState(['config', 'daemon', 'account', 'identity']),
    showSize() {
        return this.$t('sizes.' + this.item.size) + ' Box'
    },
    showWeight() {
        return weights[this.item.weight].kg
    },
    showSpeed() {
        return this.$t('speeds.' + this.item.speed)
    },
    showFee() {
        return this.tallyFee(this.item, currency['eur'].symbol)
    },
    zonePickup() {
        return this.zoneName(this.item.zone_id_pickup)
    },
    zoneDestination() {
        return this.zoneName(this.item.zone_id_destination)
    }
  },
  methods: {
      zoneName(zoneId) {
        let zone = this.zonesParent
          if (zoneId) {
            zone = zoneId
          }
        return zone.toUpperCase()
      },
      btnShipmentClaimModal() {
        this.assignment_identity = this.$store.state.identity.publicKey
      },
      btnShipmentAssignModal() {
        console.log('Assign this shipment')
      },
      btnShipmentAssignCode(item_id) {
        const endpoint = 'shipments/' + item_id + '/assign-short-code'
        let code = 'UFG'
        let new_short_code = { short_code: code }
        console.log('btnAssignCcode: ', + new_short_code)        

        fetcherSsr.ssrPost(endpoint, new_short_code).then((data) => {
            console.log(data);
        })
      },
      btnShipmentAssignCancel() {
        console.log('Cancel Shipment assign')
      },
      btnShipmentAssign() {
        let vm = this
        let endpoint = 'shipments/' + this.item.id + '/updates'
        let new_assignment = { note: '', update: { roles: { delivery: [], supplier: [] }} }
        new_assignment.note = this.assignment_note
        new_assignment.update.roles[this.assignment_role].push(this.assignment_identity)
        fetcherSsr.ssrPost(endpoint, new_assignment).then((data) => {
            console.log(data);
            vm.item.updates.push(data);
        })
      }
  }
};
</script>
