<template>
    <div>
        <ul v-if="shipments.length > 0" class="list-unstyled">
            <li v-for="item in shipments" v-bind:key="item.id">
                <shipmentItem v-bind:item="item" />
            </li>
        </ul>
        <ul v-else class="list-unstyled">
            <li><signedRequest v-bind:requestError="requestError" /></li>
        </ul>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import ShipmentItem from '@/components/ShipmentItem';
import SignedRequest from '@/components/SignedRequest';
import { fetcherSsr } from '@eotl/core/composables';

export default {
  name: 'ShipmentsList',
  components: {
    ShipmentItem,
    SignedRequest
  },
  props: [],
  data: function () {
    return {
      shipments: [],
      requestError: {}
    };
  },
  created() {
    this.getShipments();
  },
  computed: mapState(['config']),
  methods: {
    getShipments() {
        let vm = this
        fetcherSsr.ssrGet('shipments').then((data) => {
            console.log(data)
            vm.shipments = data
        })
    },
  },
};
</script>
