<template>
  <div class="row">
    <div class="col-4">
      <a href="#">
        <img src="/images/placeholder-map-point.svg" class="img-fluid">
      </a>
    </div>
    <div class="col-8">
      <p>
        <strong>{{ location.name }}</strong><br>
        {{ location.address }}<br>
        <span v-if="location.address_2">
        {{ location.address2 }}<br>
        </span>
        {{ location.postal }} {{ location.city }}
      </p>
      <p v-if="location.method != 'none'">
        <a v-bind:href="contactMethod + location.contact">
          {{ location.contact }}
        </a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['location'],
  data() {
    return {
      address: "Anderer Weg 456",
      address2: "",
      city: "Berlin",
      contact: "",
      method: "none",
      name: "",
      postal: "",
      state: "",
    };
  },
  created() {
    console.log('locationAddress')
  },
  computed: {
    contactMethod() {
      let comm = ''
      if (this.location.method == 'email') {
        comm = 'mailto:'
      } else if (this.location.method == 'sms') {
        comm = 'sms://+'
      }

      return comm
    }
  },
  methods: {},
};
</script>
