<template>
    <div>
        <h5>{{ shorty.id }}</h5>
        <div v-if="shorty.assignments.length > 0">
            {{ shorty.assignments }}
        </div>
        <div v-else>
            <small class="text-monospace">No assignments</small>
        </div>
    </div>
</template>

<script>
export default {
  name: 'ShortCode',
  props: ['shorty'],
  data: function () {
    return {};
  }
};
</script>
