<template>
    <div>
        <h4>Something Wonky!</h4>
        <pre>{{ requestError }}</pre>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'SignedRequest',
  props: ['requestError'],
  data: function () {
    return {};
  }
};
</script>
